{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Total Scores by Cast member {% endblock %}</h1>
        <table class="styled-table">
            <tr class="styled-table">
                <thead>
                    <th></th>
                    <th>Participant</th>
                    <th>Gender</th>
                    <th>Good points</th>
                    <th>Bad News Bear points</th>
                </thead>
            </tr>
            {% for participant in participants %}            
                <TR background-color: #96D4D4;>
                <TD class="c1">{{ participant.id }}</TD>
                <TD class="c2">{{ participant.name }}</TD>
                <TD class="c2">{{ participant.gender }}</TD>
                <TD class="c3">{{ calculate_participant_points(participant, "good") }}</TD>
                <TD class="c4">{{ calculate_participant_points(participant, "bad") }}</TD>
                </TR>
            {% endfor %}
        </table>

{% endblock %}