{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Participants {% endblock %}</h1>
    <div class="content">
        <table border: 1px solid white;>
            <tr>
                <th>Participant</th>
                <th>Good points</th>
                <th>Bad News Bear points</th>
            </tr>
            {% for participant in participants %}            
                <TR background-color: #96D4D4;>
                <TD class="c1">{{ participant.id }}</TD>
                <TD class="c2">{{ participant.name }}</TD>
                <TD class="c2">{{ participant.gender }}</TD>
                <TD class="c3">{{ calculate_participant_points(participant, "good") }}</TD>
                <TD class="c4">{{ calculate_participant_points(participant, "bad") }}</TD>
                </TR>
            {% endfor %}
        </table>

    </div>
{% endblock %}