{% extends 'base.html' %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
<body>
<div class="content">
{% for player in players %}
<div class="data-square">
    <div class="player-info">
        <h3>{{ player.name }}</h3>
        <p>Total Score: {{ calculate_player_points(player) }}</p>
    </div>
    {% for team in player.teams.all() %}
    <div class="episode-info">
        <p><b>Episode {{ team.episode }}</b></p>
        <p><b>Man:</b> {{ team.man.name }} <b>({{calculate_participant_points(team.man, 'good', team.episode)}})</b></p>
        <p><b>Woman:</b> {{ team.woman.name }} <b>({{calculate_participant_points(team.woman, 'good', team.episode)}})</b></p></p>
        <p><b>Bad news bear:</b> {{ team.bear.name }} <b>({{calculate_participant_points(team.bear, 'bad', team.episode)}})</b></p></p>
    </div>
    {% endfor %}
</div>        
{% endfor %}
</body>

{% endblock %}