{% extends 'base.html' %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
<body>
<div class="content">
{% for player in players %}
<div class="data-square">
    <div class="player-info">
        <h3>{{ player.name }} {{ player.id}} </h3>
        <p>Total Score: 100</p>
    </div>
    {% for team in player.teams.all() %}
    <div class="episode-info">
        <h4>Episode {{ team.episode }}</h4>
        <p><b>Man:</b> {{ team.man.name }} </p>
        {% if team.man is not none %}
        {% for activity in team.man.get_activities(team.episode) %}
        <p>{{activity.name}}</p>
        {% endfor %}
        {% endif %}
        
        <p><b>Woman:</b> {{ team.woman.name }}</p>
        <p><b>Bad news bear:</b> {{ team.bear.name }}</p>
    </div>
    {% endfor %}
</div>        
{% endfor %}
</body>

{% endblock %}