{% extends 'base.html' %}

{% block content %}
<body>
    {% block title %}
    Selecting Teams for Episode {{ episode }}
    (To clear selection, hold command/ctrl when clicking the list)
    {% endblock %}
    <div>
        <table style="border-spacing: 50 0px;">
            <tr>
                <td>
                    <h2>Men</h2>
                    <select id="menList" size="15" style="width: 200px;">
                        {% for man in men %}
                            <option value="{{ man.name }}">{{ man.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <h2>Women</h2>
                    <select id="womenList" size="15" style="width: 200px;">
                        {% for woman in women %}
                            <option value="{{ woman.name }}">{{ woman.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <h2>Bad News Bears</h2>
                    <select id="badNewsBearsList" size="15" style="width: 200px;">
                        {% for bear in participants %}
                            <option value="{{ bear.name }}">{{ bear.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>

                <label for="copyFromEpisode">Copy Teams from Episode:</label>
                <select id="copyFromEpisode" onchange="populateTeams()">
                    <option value="" selected disabled>Select an Episode</option>
                    {% for episode_number in range(1, 13) %}
                        <option value="{{ episode_number }}">Episode {{ episode_number }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>
        </table>
        <div id="confirmationMessage" style="display: none; color: green; display: inline-block;"></div>
        <div id="errorMessage" style="display: none; color: red;"></div>

        <div>
            <h2>Teams</h2>
            <table>
                {% for player in players %}
                    <td>
                        <h3>{{ player.name }}</h3>
                        <select class="teamList" size="5" style="width: 200px;" data-team="{{ player.name }}"></select>
                        <button class="teamButton" data-team="{{ player.name }}">Add to {{ player.name }}</button>
                        <button class="removeButton" data-team="{{ player.name }}">Remove from {{ player.name }}</button>
                    </td>
                {% endfor %}
            </table>
        </div>
    </div>

    <button id="saveButton">Save</button>

<script>
// JavaScript code to handle participant selection and team assignment
var episode = "{{ episode }}"; // Include the episode variable from the Flask template

// Function to show an error message
function showErrorMessage(message) {
    // Display the error message (you can customize this part)
    var errorDiv = document.getElementById('errorMessage');
    errorDiv.textContent = message;
    errorDiv.style.display = 'block';

    // Hide the message after a few seconds (you can adjust the timeout)
    setTimeout(function () {
        errorDiv.style.display = 'none';
    }, 3000); // Hide after 3 seconds
}

function populateTeams() {
    var copyFromEpisode = document.getElementById('copyFromEpisode');
    var selectedEpisode = copyFromEpisode.value;
    if (selectedEpisode === "") {
        selectedEpisode = episode
    };

    // Fetch teams data for the selected episode from the backend
    fetch('/get_teams?episode=' + selectedEpisode)
        .then(response => response.json())
        .then(data => {
            // Update team lists with the fetched data
            data.teams.forEach(team => {
                var teamList = document.querySelector('.teamList[data-team="' + team.name + '"]');
                teamList.innerHTML = '';  // Clear existing options

                for (const [oldListName, participant] of Object.entries(team.participants)) {
                    var option = document.createElement('option');
                    option.text = participant;
                    option.value = participant;
                    option.dataset.oldListName = oldListName; // Store the role in dataset
                    teamList.add(option);

                    // Remove the participant from the corresponding old list
                    var oldList = document.getElementById(oldListName);
                    for (var j = 0; j < oldList.options.length; j++) {
                        if (oldList.options[j].value === participant) {
                            oldList.remove(j);
                            break;
                        }
                }
            }
        });
            showConfirmationMessage('Teams copied successfully!');
        })
        .catch((error) => {
            console.error('Error:', error);
            showErrorMessage('Error copying teams. Please try again.');
        });
};

function showConfirmationMessage(message) {
    // Display the confirmation message (you can customize this part)
    var confirmationDiv = document.getElementById('confirmationMessage');
    confirmationDiv.textContent = message;
    confirmationDiv.style.display = 'block';

    // Hide the message after a few seconds (you can adjust the timeout)
    setTimeout(function () {
        confirmationDiv.style.display = 'none';
    }, 3000); // Hide after 3 seconds
};

document.addEventListener('DOMContentLoaded', function () {
    var menList = document.getElementById('menList');
    var womenList = document.getElementById('womenList');
    var badNewsBearsList = document.getElementById('badNewsBearsList');
    var participant_lists = [menList, womenList, badNewsBearsList];
    var teamButtons = document.getElementsByClassName('teamButton');
    var teamLists = document.getElementsByClassName('teamList');
    var removeButtons = document.getElementsByClassName('removeButton');

    var listsToDeselect = [menList, womenList, badNewsBearsList]

    for (var i = 0; i < listsToDeselect.length; i++) {
        listsToDeselect[i].addEventListener('click', function () {
        if (event.metaKey || event.ctrlKey) {
            this.selectedIndex = -1
            }});
        }
    
    function assignToTeam(teamName) {
        var teamList = document.querySelector('.teamList[data-team="' + teamName + '"]');

        for (var i = 0; i < 3; i++) {
            var participantList = participant_lists[i];
            var selectedParticipant = participantList.value;

            if (selectedParticipant !== '') {
                var oldListName = participantList.id;
                var option = document.createElement('option');
                option.text = selectedParticipant
                option.value = option.text;
                option.dataset.oldListName = oldListName
                teamList.add(option);
            }

            // // If it's not BadNewsBears, remove from the participant list
            // if (participantList !== badNewsBearsList) {
            //     participantList.remove(participantList.selectedIndex);
            // }
            participantList.remove(participantList.selectedIndex);
            participantList.selectedIndex = -1;
        };
    }

    for (var i = 0; i < teamButtons.length; i++) {
        teamButtons[i].addEventListener('click', function () {
            var teamName = this.getAttribute('data-team');
            assignToTeam(teamName);
        });
    }

    for (var i = 0; i < removeButtons.length; i++) {
        removeButtons[i].addEventListener('click', function () {
            var teamName = this.getAttribute('data-team');
            var teamList = document.querySelector('.teamList[data-team="' + teamName + '"]');

            var selectedOption = teamList.options[teamList.selectedIndex];
            var selectedParticipant = teamList.value;
            var oldListName = selectedOption.dataset.oldListName;
            var oldList = document.getElementById(oldListName);
            
            var option = document.createElement('option');
            option.value = selectedParticipant;
            option.text = selectedParticipant;

            // if (['menList', 'womenList'].includes(oldListName)) {
            //     oldList.add(option);
            // }
            oldList.add(option);
            teamList.remove(teamList.selectedIndex);
        });
    }

    // Your existing JavaScript code

    // Add an event listener to the "Save" button
    var saveButton = document.getElementById('saveButton');
    saveButton.addEventListener('click', function () {
        saveTeamLists();
    });

    function saveTeamLists() {
    var teamLists = document.getElementsByClassName('teamList');
    var teamsData = [];
    var errors = [];

    for (var i = 0; i < teamLists.length; i++) {
        var teamName = teamLists[i].getAttribute('data-team');
        var participants = Array.from(teamLists[i].options).map(option => {
            return {
                name: option.value,
                origin_list: option.dataset.oldListName  // Access the role from the dataset
            };
        });

        // Validate each team
        var manCount = participants.filter(participant => participant.origin_list === 'menList').length;
        var womanCount = participants.filter(participant => participant.origin_list === 'womenList').length;
        var bearCount = participants.filter(participant => participant.origin_list === 'badNewsBearsList').length;

        if (manCount !== 1) {
            var men = participants.filter(participant => participant.origin_list === 'menList').map(participant => participant.name).join(', ');
            errors.push('Team ' + teamName + ' has ' + manCount + ' men: ' + men);
        }
        if (womanCount !== 1) {
            var women = participants.filter(participant => participant.origin_list === 'womenList').map(participant => participant.name).join(', ');
            errors.push('Team ' + teamName + ' has ' + womanCount + ' women: ' + women);
        }
        if (bearCount !== 1) {
            var bears = participants.filter(participant => participant.origin_list === 'badNewsBearsList').map(participant => participant.name).join(', ');
            errors.push('Team ' + teamName + ' has ' + bearCount + ' Bad News Bears: ' + bears);
        }

        teamsData.push({ 'name': teamName, 'participants': participants });
    }

    // If there are errors, display them to the user and prevent saving
    if (errors.length > 0) {
        var errorMessage = 'Error saving teams:';
        errors.forEach(error => {
            errorMessage += '\n- ' + error;
        });
        showErrorMessage(errorMessage);
        return;
    }


    // Include the "episode" variable in the JSON data
    var requestData = {
        episode: episode,
        teams: teamsData
    };
    console.log(JSON.stringify(requestData));

    // Send the data to the backend using AJAX
    fetch('/save_teams', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(requestData),
    })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            showConfirmationMessage('Data saved successfully!');
        })
        .catch((error) => {
            console.error('Error:', error);
            showErrorMessage('Error saving data. Please try again.');
        });
}
});

populateTeams()

</script>

{% endblock %}
</body>
