{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Database view</h1>
    <div class="content">
        <table border: 1px solid white;>
            {% for owner in owners %}            
                <TR background-color: #96D4D4;>
                <TD class="c1">{{ castmember.name }}</TD>
                <TD class="c2">{{ calculate_castmember_points(castmember, "good") }}</TD>
                <TD class="c3">{{ calculate_castmember_points(castmember, "bad") }}</TD>
                </TR>
            {% endfor %}
        </table>

    </div>
{% endblock %}