<!-- HTML Template -->
{% extends 'base.html' %}
{% block content %}
<style>
    .row {
        display: flex; /* Set display to flex to align items in a row */
        overflow-x: auto; /* Enable horizontal scrolling */
        height: 200px;  
    }
    .castmember {
        height: 175px;
        position: relative; /* Make the image position relative */
    }
    .castmember_circle {
        width: 150px; /* Set the width of the container */
        height: 150px;
        overflow: hidden; /* Hide overflow content */
        border-radius: 50%; /* Make the container circular */
        border: solid;
        padding: 1px; /* Optional padding */
        margin: 5px; /* Optional margin */
        margin-bottom: -90%;
        flex-shrink: 0; /* Ensure the container doesn't shrink */
        display: flex; /* Make container flex to align image */
        justify-content: center; /* Center image horizontally */
        align-items: center; /* Center image vertically */
        flex-direction: column;
        position: relative; /* Make the container position relative */
    }
    .castmember img {
        width: 500px; /* Set the width of the image */
        height: 250px;
        object-fit: cover; /* Crop the image to fit the container */
        position: absolute; /* Make the image position relative */
        object-position: center top;
        top: -20%;
        display: flex;
    }
    .castmember-name {
        position: absolute;
        bottom: -10px;
        width: 100%; 
        text-align: center; /* Center the text horizontally */
    
    }
</style>

<body>
    <div id="startDraftDiv">
        <button id="startDraftButton">Start Draft</button>
        <button id="undoButton" disabled="true">Undo</button>
        <button id="saveButton">Save</button>
    </div>
    <div id="draftOrder"></div>
    <div id="turnIndicator"></div>
    <div id="errorMessage" style="display: none; color: red;"></div>
    <div id="confirmationMessage" style="display: none; color: green; display: inline-block;"></div>


    <!-- For the Family league, each castmember can be drafted twice so show each row twice  -->
    {% for castmember_group in castmember_groups %}
        {% with castmembers = castmember_group['castmembers'],
                role        = castmember_group['role'],
                header_text = castmember_group['header_text']
        %}
            {% if selected_league_id == '1' %}
                {% with instances = 2 %}{% include 'castmember_row.html'  %}{% endwith %}
            {% else %}
                {% with instances = 1 %}{% include 'castmember_row.html'  %}{% endwith %}
            {% endif %}
        {% endwith %}
    {% endfor %}
        

    <div>
        <h2>Teams</h2>
        <table id="teamsTable">
            {% for owner in owners %}
                <td>
                    <h3>{{ owner.name }}</h3>
                    <select class="teamList" size="5" style="width: 200px;" id="{{ owner.name }}"></select>
                </td>
            {% endfor %}
        </table>
    </div>

    <script>
        var episode = "{{ episode }}"
        var selected_league_id = "{{ selected_league_id }}"
    </script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='messages.js') }}"></script>
    <script src="{{ url_for('static', filename='saveTeamLists.js') }}"></script>
    <script src="{{ url_for('static', filename='draft.js') }}"></script>
</body>

{% endblock %}
