            <!-- HTML Template -->
            {% extends 'base.html' %}
            {% block content %}
            <style>
                .row {
                    display: flex; /* Set display to flex to align items in a row */
                    overflow-x: auto; /* Enable horizontal scrolling */
                    height: 200px;  
                }
                .cell {
                    width: 150px; /* Set the width of the container */
                    height: 250px;
                    overflow: hidden; /* Hide overflow content */
                    border-radius: 50%; /* Make the container circular */
                    padding: 1px; /* Optional padding */
                    margin: 1px; /* Optional margin */
                    flex-shrink: 0; /* Ensure the container doesn't shrink */
                    display: flex; /* Make container flex to align image */
                    justify-content: center; /* Center image horizontally */
                    align-items: center; /* Center image vertically */
                    flex-direction: column;
                    position: relative; /* Make the container position relative */                
                    
                }
                .castmember_circle {
                    width: 150px; /* Set the width of the container */
                    height: 150px;
                    overflow: hidden; /* Hide overflow content */
                    border-radius: 50%; /* Make the container circular */
                    padding: 1px; /* Optional padding */
                    margin: 1px; /* Optional margin */
                    flex-shrink: 0; /* Ensure the container doesn't shrink */
                    display: flex; /* Make container flex to align image */
                    justify-content: center; /* Center image horizontally */
                    align-items: center; /* Center image vertically */
                    flex-direction: column;
                    position: relative; /* Make the container position relative */
                }
                .castmember img {
                    width: 500px; /* Set the width of the image */
                    height: 250px;
                    object-fit: cover; /* Crop the image to fit the container */
                    position: relative; /* Make the image position relative */
                    object-position: center top;
                    top: 10%
                }
                .castmember-name {
                    text-align: center; /* Center the text horizontally */
                    margin-top: 5px; /* Optional margin to separate the image and name */
                }
            </style>
            
            <body>
                <div id="startDraftDiv">
                    <button id="startDraftButton">Start Draft</button>
                    <button id="undoButton" disabled="true">Undo</button>
                </div>
                <div id="draftOrder"></div>
                <div id="turnIndicator"></div>
                <div id="errorMessage" style="display: none; color: red;"></div>
                <div id="confirmationMessage" style="display: none; color: green; display: inline-block;"></div>
                <div class="header"><h3>Men</h3></div>
                <div class="row">
                    {% for man in men %}
                        <div class="castmember" id="{{ man.name }}-man">
                            <div class = "castmember_circle">
                                <img class="castmember"
                                    src="{{ url_for('static', filename=man.name + '.jpg') }}" 
                                    alt="{{ man.name }}"
                                    data-role="man"
                                >
                            </div>
                            <div class = 'castmember-name'>{{ man.name }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="header"><h3>Women</h3></div>
                <div class="row">
                    {% for woman in women %}
                        <div class="castmember" id="{{ woman.name }}-woman">
                            <div class = "castmember_circle">
                                <img class="castmember"
                                    src="{{ url_for('static', filename=woman.name + '.jpg') }}" 
                                    alt="{{ woman.name }}"
                                    data-role="woman"
                                >
                            </div>
                            <div class = 'castmember-name'>{{ woman.name }}</div>
                        </div>
                    {% endfor %}
                </div>            
                <div class="header"><h3>Bears</h3></div>
                <div class = 'row'>
                    {% for bear in castmembers %}
                        <div class="castmember" id="{{ bear.name }}-bear">
                            <div class = "castmember_circle">
                                <img class="castmember"
                                    src="{{ url_for('static', filename=bear.name + '.jpg') }}" 
                                    alt="{{ bear.name }}"
                                    data-role="bear"
                                >
                            </div>
                            <div class = 'castmember-name'>{{ bear.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            
                <div>
                    <h2>Teams</h2>
                    <table id="teamsTable">
                        {% for owner in owners %}
                            <td>
                                <h3>{{ owner.name }}</h3>
                                <select class="teamList" size="5" style="width: 200px;" id="{{ owner.name }}"></select>
                            </td>
                        {% endfor %}
                    </table>
                </div>
            
                <script>
                    var episode = "{{ episode }}"
                </script>
                <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
                <script src="{{ url_for('static', filename='draft.js') }}"></script>
            </body>
            
            {% endblock %}
