{% extends 'base.html' %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
<body>
    <div class="content">
        {% for owner in owners %}
            <div class="data-square">
                <div class="owner-info">
                    <b>{{ owner.name }}</b>
                    <p>Total Score: {{ calculate_owner_points(owner) }}</p>
                    {% for team in owner.teams.all() %}
                        <div class="episode-info" id="team-{{ team.id }}">
                            <table style="width: 100%; text-align: center; background-color: darkblue; color: white;">
                                <tr><td>
                                <p><b>Episode {{ team.episode }}: (<span id ='episode-points-{{ team.id }}'>{{ team.episode_points }}</span>)</b></p>
                                </td></tr>
                            </table>
                            <p><b>Attendance: <span id="attendance-{{ team.id }}">{% if team.attended_viewing %}(10){% endif %}</span></b></p>

                            <!-- Display Men -->
                            <p><b>Men:</b></p>
                            {% for castmember in team.good_members if castmember.gender == 'male' %}
                                <p><span id="man-{{ team.id }}">{{ castmember.name }}</span> <b>(<span id="man-points-{{ team.id }}">{{ calculate_castmember_points(castmember, 'good', team.episode) }}</span>)</b></p>
                            {% endfor %}

                            <!-- Display Women -->
                            <p><b>Women:</b></p>
                            {% for castmember in team.good_members if castmember.gender == 'female' %}
                                <p><span id="woman-{{ team.id }}">{{ castmember.name }}</span> <b>(<span id="woman-points-{{ team.id }}">{{ calculate_castmember_points(castmember, 'good', team.episode) }}</span>)</b></p>
                            {% endfor %}

                            <!-- Display Bad News Bears -->
                            <p><b>Bad News Bears:</b></p>
                            {% for castmember in team.bad_members %}
                                <p><span id="bear-{{ team.id }}">{{ castmember.name }}</span> <b>(<span id="bear-points-{{ team.id }}">{{ calculate_castmember_points(castmember, 'bad', team.episode) }}</span>)</b></p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>    
</body>

<script>
// We don't need this to live update so commenting this out for now
// // Use JavaScript to make an AJAX request and update the page
// function updatePage() {
//     fetch('/fetch_updated_data')
//         .then(response => response.json())
//         .then(data => {
//             data.owners.forEach(owner => {
//                 const ownerID = owner.id;
//                 const totalScoreElement = document.getElementById('total-score-' + ownerID);
//                 if (totalScoreElement) {
//                     totalScoreElement.innerText = owner.total_score;
//                 } else {
//                     console.error('Total score element not found for owner ID:', ownerID);
//                 }
//                 // Update the episode scores
//                 owner.teams.forEach(team => {
//                     const teamID = team.id;
//                     document.getElementById('man-'             + teamID).innerText = team.man;
//                     document.getElementById('woman-'           + teamID).innerText = team.woman;
//                     document.getElementById('bear-'            + teamID).innerText = team.bear;
//                     document.getElementById('man-points-'      + teamID).innerText = team.man_points;
//                     document.getElementById('woman-points-'    + teamID).innerText = team.woman_points;
//                     document.getElementById('bear-points-'     + teamID).innerText = team.bear_points;
//                     document.getElementById('episode-points-'  + teamID).innerText = team.episode_points;
//                     const attendanceElement = document.getElementById('attendance-' + teamID);
//                     if (attendanceElement) {
//                         attendanceElement.innerText = team.attended_viewing ? '(10)' : '(0)';
//                     }
//                 });
//             });
//         })
//         .catch(error => console.error('Error fetching updated data:', error));
// }


// // // Call the updatePage function initially and set up an interval for periodic updates
// updatePage();
// setInterval(updatePage, 60000);  // Update every 60 seconds (adjust as needed)

</script>

{% endblock %}