{% extends 'base.html' %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
<body>
    <div class="content">
    {% for owner in owners %}
    <div class="data-square">
        <div class="owner-info">
            <b><p>{{ owner.name }}</p></b>
            <p>Total Score: <b><span id="total-score-{{ owner.id }}">{{ calculate_owner_points(owner) }}</span></b></p>
        </div>
        {% for team in owner.teams.all() %}
        <div class="episode-info" id="team-{{ team.id }}">
            <table style="width: 100%; text-align: center; background-color: darkblue; color: white;    ">
                <tr><td>
                <p><b>Episode {{ team.episode }}: (<span id ='episode-points-{{ team.id }}'>{{ team.episode_points }}</span>)</b></p>
                </td></tr>
            </table>
            <p><b>Attendance: <span id="attendance-{{ team.id }}">(0)</span></b></p>
            {% if team.man is not none %}
            <p><b>Man:</b> <span id="man-{{ team.id }}">{{ team.man.name }}</span> <b>(<span id="man-points-{{ team.id }}">{{ calculate_castmember_points(team.man, 'good', team.episode) }}</span>)</b></p>
            {% endif %}

            {% if team.man is not none %}
            <p><b>Woman:</b> <span id="woman-{{ team.id }}">{{ team.woman.name }}</span> <b>(<span id="woman-points-{{ team.id }}">{{ calculate_castmember_points(team.woman, 'good', team.episode) }}</span>)</b></p>
            {% endif %}

            {% if team.man is not none %}
            <p><b>Bad news bear:</b> <span id="bear-{{ team.id }}">{{ team.bear.name }}</span> <b>(<span id="bear-points-{{ team.id }}">{{ calculate_castmember_points(team.bear, 'bad', team.episode) }}</span>)</b></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>        
    {% endfor %}
    </body>

    <script>
    // Use JavaScript to make an AJAX request and update the page
    function updatePage() {
        fetch('/fetch_updated_data')
            .then(response => response.json())
            .then(data => {
                data.owners.forEach(owner => {
                    const ownerID = owner.id;
                    const totalScoreElement = document.getElementById('total-score-' + ownerID);
                    if (totalScoreElement) {
                        totalScoreElement.innerText = owner.total_score;
                    } else {
                        console.error('Total score element not found for owner ID:', ownerID);
                    }
                    // Update the episode scores
                    owner.teams.forEach(team => {
                        const teamID = team.id;
                        document.getElementById('man-'             + teamID).innerText = team.man;
                        document.getElementById('woman-'           + teamID).innerText = team.woman;
                        document.getElementById('bear-'            + teamID).innerText = team.bear;
                        document.getElementById('man-points-'      + teamID).innerText = team.man_points;
                        document.getElementById('woman-points-'    + teamID).innerText = team.woman_points;
                        document.getElementById('bear-points-'     + teamID).innerText = team.bear_points;
                        document.getElementById('episode-points-'  + teamID).innerText = team.episode_points;
                        console.log(team.episode_points)
                        const attendanceElement = document.getElementById('attendance-' + teamID);
                        if (attendanceElement) {
                            attendanceElement.innerText = team.attended_viewing ? '(10)' : '(0)';
                        }
                    });
                });
            })
            .catch(error => console.error('Error fetching updated data:', error));
    }

    
    // // // Call the updatePage function initially and set up an interval for periodic updates
    // updatePage();
    // setInterval(updatePage, 60000);  // Update every 60 seconds (adjust as needed)
    
    </script>
    
{% endblock %}