{% extends 'base.html' %}

{% block title %}
    Score Episode {{ episode }}
{% endblock %}

{% block content %}
    <title>Episode {{ episode }}</title>
<body>
    <b>Attendance:</b>
    <form action="/score_episode/{{ episode }}" method="POST">
        <span style="font-size: 14px">
        {% for player in players %}
            <input type="checkbox" name="player-checkboxes" value="{{ player.id }}"> {{ player.name }}<br>
        {% endfor %}
        </span>
        <button type="submit">Submit</button>
    </form>

<!-- Men/Women table -->
    <table class="styled-table">
        <thead>
            <th style="text-align: center; background-color: darkblue; color: white;"></th></th>
            <th colspan="{{ roles_dict['Men'].all() | length }}" style="text-align: center; background-color: darkblue; color: white;">Men</th>
            <th colspan="{{ roles_dict['Women'].all() | length }}" style="text-align: center; background-color: darkblue; color: white;">Women</th>
            <tr>
                <th></th>
                <!-- Men table -->
                {% for man in roles_dict['Men'].all() %}
                    {% if not loop.last %}
                    <th class="styled-table">{{ man.name }}</th>
                    {% else %}
                    <th class="styled-table" style="border-right: 3px solid darkblue;">{{ man.name }}</th>
                    {% endif %}
                {% endfor %}

                <!-- Women table -->
                {% for woman in roles_dict['Women'].all() %}
                    <th class="styled-table">{{ woman.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for activity in activities %}
            {% if activity.type == "good" %}
                <tr>
                    <td>
                        {{ activity.name }}
                    </td>
                    {% for man in roles_dict['Men'].all() %}
                        {% if not loop.last %}
                        <td>
                            <button class="update-button" data-participant="{{ man.id }}" data-activity="{{ activity.id }}">
                                <span class="activity-count">{{ man.activity_association.filter_by(episode=episode, activity=activity).all() | length }}</span>
                            </button>
                            <button class="minus-button" data-participant="{{ man.id }}" data-activity="{{ activity.id }}" style="background-color: darkred;">
                                -
                            </button>
                        </td>
                        {% else %}
                        <td style="border-right: 3px solid darkblue;">
                            <button class="update-button" data-participant="{{ man.id }}" data-activity="{{ activity.id }}">
                                <span class="activity-count">{{ man.activity_association.filter_by(episode=episode, activity=activity).all() | length }}</span>
                            </button>
                            <button class="minus-button" data-participant="{{ man.id }}" data-activity="{{ activity.id }}" style="background-color: darkred;">
                                -
                            </button>
                        </td>
                        {% endif %}
                    {% endfor %}
                    {% for woman in roles_dict['Women'].all() %}
                        <td>
                            <button class="update-button" data-participant="{{ woman.id }}" data-activity="{{ activity.id }}">
                                <span class="activity-count">{{ woman.activity_association.filter_by(episode=episode, activity=activity).all() | length }}</span>
                            </button>
                            <button class="minus-button" data-participant="{{ woman.id }}" data-activity="{{ activity.id }}" style="background-color: darkred;">
                                -
                            </button>
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    
<!-- Bad News Bear table -->
<table class="styled-table">
    <thead>
        <th style="text-align: center; background-color: darkblue; color: white;"></th></th>
        <th colspan="{{ roles_dict['Bad News Bears'].all() | length }}" style="text-align: center; background-color: darkblue; color: white;">Bad News Bear</th>
    </thead>
    <thead>
        <th></th>
        {% for bear in roles_dict['Bad News Bears'].all() %}
        <th class="styled-table">{{ bear.name }}</th>
        {% endfor %}
    </thead>
    {% for activity in activities %}
        {% if activity.type == "bad" %}
            <tr>
                <td>
                    {{ activity.name }}
                </td>
                {% for bear in roles_dict['Bad News Bears'].all() %}
                    <td>
                        <button class="update-button" data-participant="{{ bear.id }}" data-activity="{{ activity.id }}">
                            <span class="activity-count">{{ bear.activity_association.filter_by(episode=episode, activity=activity).all() | length }}</span>
                        </button>
                        <button class="minus-button" data-participant="{{ bear.id }}" data-activity="{{ activity.id }}" style="background-color: darkred;">
                            -
                        </button>
                    </td>
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
</table>
    


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var episode = "{{ episode }}"; // Include the episode variable from the Flask template
        var updateButtons = document.querySelectorAll('.update-button');
        var minusButtons  = document.querySelectorAll('.minus-button' );
        
        // Function to handle button clicks (both increment and decrement)
        function handleButtonClick(button, increment) {
            var participant_id = button.getAttribute('data-participant');
            var activity_id = button.getAttribute('data-activity');
            

            // Send the update to the backend
            fetch('/increment_activity', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    participant_id: participant_id,
                    activity_id: activity_id,
                    episode: episode,
                    increment: increment // Send whether it's an increment or decrement
                }),
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response if needed
                console.log('Update successful:', data);
                // Update the count in the corresponding span
                var countSpan = button.parentElement.querySelector('.activity-count');
                console.log(increment)
                if (increment || parseInt(countSpan.innerText) > 0) {
                    countSpan.innerText = parseInt(countSpan.innerText) + (increment ? 1 : -1);
                }
            })
            .catch((error) => {
                console.error('Error updating activity:', error);
            });
        }

        // Event listener for increment buttons
        updateButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                handleButtonClick(this, true); // Increment the count
            });
        });

        // Event listener for decrement buttons
        minusButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                handleButtonClick(this, false); // Decrement the count
            });
        });
    });

</script>
{% endblock %}
</body>
