{% extends 'base.html' %}

{% block title %}
    Score Episode {{ episode }}
{% endblock %}
{% block content %}
<!-- Removing this button as it doesn't work. To backup the database, run heroku ps:copy: database.db from-heroku.db -->
<!-- <button id="backup-btn"><a href="/backup">Backup Database</a></button> --> 
<title>Episode {{ episode }}</title>
<body>
    <p><b>Attendance:</b></p>
    <form action="/score_episode/{{ episode }}" method="POST">
        <span style="font-size: 14px">
        {% for owner in owners %}
            <input type="checkbox" name="owner-checkboxes" value="{{ owner.id }}"> {{ owner.name }}<br>
        {% endfor %}
        </span>
        <button type="submit">Submit</button>
    </form>
<div class="container" style="display:flex;">
    {% for key, value in roles_dict.items() %}
        {% if key != 'Bad News Bears' %}
            {% set activity_type = "good" %}
        {% else %}
            {% set activity_type = "bad" %}
        {% endif %}
        {% with castmember_list=value.all(), role=key %}
            {% include 'table_for_scoring.html'  %}
        {% endwith %}
    {% endfor %}
</div>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var episode         = "{{ episode }}"; // Include the episode variable from the Flask template
        var activityButtons = document.querySelectorAll('.activity-buttons');
        var updateButtons   = document.querySelectorAll('.update-button');
        var minusButtons    = document.querySelectorAll('.minus-button' );
        var dropdowns       = document.getElementsByClassName('castmember-dropdown');        

        // Connect to the server via SocketIO
        var socket = io.connect();
        var castmemberContainers = document.querySelectorAll('.castmember-container');

        // Event listener for cast member elements
        castmemberContainers.forEach(function(container) {
            container.parentElement.addEventListener('click', function() {
                // Toggle visibility of corresponding container
                container.style.display = container.style.display === 'none' ? 'block' : 'none';
            });
        });
        // Function to handle button clicks (both increment and decrement)
        function handleButtonClick(button, increment) {
            var castmember_id = button.getAttribute('data-castmember');
            var activity_id = button.getAttribute('data-activity');
            // Send the update to the backend via SocketIO
            socket.emit('activity_updated', {
                castmember_id: castmember_id,
                activity_id: activity_id,
                episode: episode,
                increment: increment // Send whether it's an increment or decrement
            });
        }

        // Event listener for increment buttons
        updateButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                handleButtonClick(this, true); // Increment the count
            });
        });

        // Event listener for decrement buttons
        minusButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                handleButtonClick(this, false); // Decrement the count
            });
        });

        // Listen for updates from the server
        socket.on('update_activity_count', function(data) {
            // Update the count in the corresponding span
            var button = document.querySelector('.update-button[data-castmember="' + data.castmember_id + '"][data-activity="' + data.activity_id + '"]');
            var countSpan = button.querySelector('.activity-count');
            var currentCount = parseInt(countSpan.innerText);
            countSpan.innerText = data.increment ? currentCount + 1 : Math.max(currentCount - 1, 0);
        });

    
        // Iterate over each dropdown and attach the event listener
        for (var i = 0; i < dropdowns.length; i++) {
            dropdowns[i].addEventListener('change', function() {
                showButtonsForCastmember(this)
            })
        };

        function showButtonsForCastmember(dropdown) {
            var castmemberId = dropdown.value;
            role = dropdown.dataset.role
            activityButtons.forEach(function(buttonContainer) {
                var castmemberButtons = buttonContainer.querySelectorAll('button');
                castmemberButtons.forEach(function(button) {
                    
                    if ( button.getAttribute('data-role') === role ) {
                        if (button.getAttribute('data-castmember') === castmemberId) {
                            button.style.display = 'inline-block'; // Show the buttons for the selected cast member
                        } else {
                            
                        button.style.display = 'none'; // Hide buttons for other cast members
                        }
                    }
                });
            });
        }
        
    });     

</script>
{% endblock %}
</body>
