{% extends 'base.html' %}

{% block content %}
<body>
    {% block title %}
    Selecting Teams for Episode {{ episode }}
    (To clear selection, hold command/ctrl when clicking the list)
    {% endblock %}
    <div>
        <table style="border-spacing: 50 0px;">
            <tr>
                <td>
                    <h2>Men</h2>
                    <select id="man" size="15" style="width: 200px;">
                        {% for man in men %}
                            <option value="{{ man.name }}" style="background-color:rgb(93, 212, 99)">{{ man.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <h2>Women</h2>
                    <select id="woman" size="15" style="width: 200px;">
                        {% for woman in women %}
                            <option value="{{ woman.name }}" style="background-color:rgb(236, 236, 192)" >{{ woman.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <h2>Bad News Bears</h2>
                    <select id="bear" size="15" style="width: 200px;">
                        {% for bear in castmembers %}
                            <option value="{{ bear.name }}" style="background-color:crimson" >{{ bear.name }}</option>
                        {% endfor %}
                     </select>
                </td>
                <td>

                <label for="copyFromEpisode">Copy Teams from Episode:</label>
                <select id="copyFromEpisode" onchange="populateTeams()">
                    <option value="" selected disabled>Select an Episode</option>
                    {% for episode_number in range(1, 13) %}
                        <option value="{{ episode_number }}">Episode {{ episode_number }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>
        </table>
        <div id="confirmationMessage" style="display: none; color: green; display: inline-block;"></div>
        <div id="errorMessage" style="display: none; color: red; white-space: pre-line;"></div>

        <div>
            <h2>Teams</h2>
            <table>
                {% for owner in owners %}
                    <td>
                        <h3>{{ owner.name }}</h3>
                        <select class="teamList" size="5" style="width: 200px;" id="{{ owner.name }}"></select>
                        <button class="teamButton" data-team="{{ owner.name }}">Add to {{ owner.name }}</button>
                        <p><button class="removeButton" data-team="{{ owner.name }}">Remove from {{ owner.name }}</button></p>
                    </td>
                {% endfor %}
            </table>
        </div>
    </div>

<button id="saveButton">Save</button>
<script src="{{ url_for('static', filename='saveTeamLists.js') }}"></script>
<script src="{{ url_for('static', filename='populateTeams.js') }}"></script>
<script src="{{ url_for('static', filename='messages.js') }}"></script>
<script>
// JavaScript code to handle castmember selection and team assignment
var episode = "{{ episode }}"; // Include the episode variable from the Flask template

document.addEventListener('DOMContentLoaded', function () {
    var man = document.getElementById('man');
    var woman = document.getElementById('woman');
    var bear = document.getElementById('bear');
    var castmember_lists = [man, woman, bear];
    var teamButtons = document.getElementsByClassName('teamButton');
    var teamLists = document.getElementsByClassName('teamList');
    var removeButtons = document.getElementsByClassName('removeButton');

    var listsToDeselect = [man, woman, bear]

    for (var i = 0; i < listsToDeselect.length; i++) {
        listsToDeselect[i].addEventListener('click', function () {
        if (event.metaKey || event.ctrlKey) {
            this.selectedIndex = -1
            }});
        }
    
    function assignToTeam(teamName) {
        var teamList = document.getElementById(teamName)

        for (var i = 0; i < 3; i++) {
            var castmemberList = castmember_lists[i];
            var selectedOption =  castmemberList.options[castmemberList.selectedIndex];
 
            if (typeof selectedOption !== 'undefined') {
                var oldListName = castmemberList.id;
                var option = document.createElement('option');
                option.text = selectedOption.value;
                option.value = option.text;
                option.style.backgroundColor = selectedOption.style.backgroundColor;
                option.dataset.role = oldListName;

                teamList.add(option);
            }

            // // If it's not BadNewsBears, remove from the castmember list
            // if (castmemberList !== bear) {
            //     castmemberList.remove(castmemberList.selectedIndex);
            // }
            castmemberList.remove(castmemberList.selectedIndex);
            castmemberList.selectedIndex = -1;
        };
    }

    // Loop for adkding castmembers to a team if the corresponding button is clicked
    for (var i = 0; i < teamButtons.length; i++) {
        teamButtons[i].addEventListener('click', function () {
            var teamName = this.getAttribute('data-team');
            assignToTeam(teamName);
        });
    }
   
    // Loop for removinag castmembers from a team if the corresponding remove button is clicked
    for (var i = 0; i < removeButtons.length; i++) {
        removeButtons[i].addEventListener('click', function () {
            var teamName = this.getAttribute('data-team');
            var teamList = document.getElementById(teamName);

            var selectedOption = teamList.options[teamList.selectedIndex];
            var selectedCastmember = teamList.value;
            var role = selectedOption.dataset.role;
            var oldList = document.getElementById(role);
            
            var option = document.createElement('option');
            option.value = selectedCastmember;
            option.text = selectedCastmember;
            option.style.backgroundColor = selectedOption.style.backgroundColor

            var oldOptions = oldList.options; 
            var insertionIndex = 0;
            for (var i = 0; i < oldOptions.length; i++) {
                if (oldOptions[i].text > selectedCastmember) {
                    break;
                }
                insertionIndex++;
            }
            oldList.add(option, insertionIndex);
            teamList.remove(teamList.selectedIndex);
        });
    }


    // Add an event listener to the "Save" button
    var saveButton = document.getElementById('saveButton');
    saveButton.addEventListener('click', function () {
        saveTeamLists();
    });

});
populateTeams()
</script>


{% endblock %}
</body>
